/** @format */

body {
  margin: 0;
  padding: 0;
  background-color: #E7ECEF;
  font-family: 'Montserrat', sans-serif;
  color: #274C77,
}

button {
  border: 2px solid;
  border-radius: 5px;
  border-color: #274C77;
  background-color: #274C77;
  font-family: 'Montserrat', sans-serif;
  color: #E7ECEF;
}

button:hover:not([disabled]) {
  background-color: #E7ECEF;
  color: #274C77;
}

button:focus:not([disabled]) {
  background-color: #E7ECEF;
  color: #274C77;
}

button:active {
  position: relative;
  top: 2px;
}