.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px
}

.carousel-buttons > button {
  margin-right: 20px;
}

.carousel-buttons > button:disabled {
  opacity: .5;
}

#submit-carousel > span {
  margin-right: 10px;
}