.dashboard-square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  border: 2px solid;
  border-color: #A3CEF1;
  margin: 20px;
  padding: 10px;
  background: linear-gradient(
    to bottom, #A3CEF1 0%,
    #A3CEF1 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  transition: background-size .2s;
  text-align: center;
}

.dashboard-square:hover {
  background-size: 4px 200px;
}

.dashboard-square:active {
  position: relative;
  top: 2px;
}

.dashboard-square > a {
  color: #274C77;
  text-decoration: none;
}

