.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
}

.input-container > label {
  margin-right: 20px;
}

.input-container > input {
  border-width: 0 0 2px;
  border-color: #274C77; 
  color: #274C77;
  background: transparent;
}

#login-buttons {
  text-align: center;
}

#login-buttons > button {
  height: 40px;
  width: 150px;
  margin-right: 10px;
}