.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#signup-after {
  font-family: Sacramento, cursive;
  font-style: italic;
  font-size: larger;
}

.login-link {
  color: #274C77;
  text-decoration: none;
}