h1 {
  text-align: center;
}

#splash-after {
  font-family: Sacramento, cursive;
  font-style: italic;
}

#splash-button-container {
  display: flex;
  justify-content: center;
}

button {
  text-align: center;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}